#screen {
  display: flex;
  max-width: 1500px;
  align-items: center;
  flex-wrap: wrap;
  padding: auto;
  margin: auto;
  justify-content: center;
}

#description {
  margin: 2px;
}

button {
  display: flex;
  background: white;
  text-decoration: none;
  color: inherit;
  border-width: 0px;
  max-height: 520px;
  justify-content: center;
}

.MuiFormControl-root {
  width: 80%;
}

.br {
  display: block;
  margin-bottom: 0.5em;
}

.MuiBox-root {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

#searchform {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-top: 7px;
  top: 0px;
  position: fixed;
  z-index: 2;
}

#movies {
  display: flex;
  max-width: 80%;
  align-items: center;
  flex-wrap: wrap;
  padding: auto;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
}

#expanded {
  margin: 3px;
  padding: 3px;
  overflow: auto;
}

.popcard {
  max-width: 250px;
}

.card {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  margin: 3px;
  align-items: center;
  padding: 3px;
  overflow: auto;
}

.movieTitle {
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.imgcard {
  height: 100%;
  width: 100%;
  display: block;
}

h3 {
  margin: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div p {
  overflow: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 600px) {
  .MuiBox-root {
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: 75%;
    height: 75%;
  }

  .card {
    max-width: 50%;
  }

  .popcard {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    margin: 3px;
    align-items: center;
    padding: 3px;
  }
}
